<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Autoticket-Welcome</title>
</head>
<body>
    <main>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron col-md-8 h-100">
                <h2>Welcome to Autoticket</h2><hr/>
                <p>
                This is the API for a project used for automating booking of air ticket. The available endpoints are:
                <ul>
                <li>Register: users/register/</li>
                <li>Register: POST users/register/</li>
                <li>Log in: POST users/login/</li>
                <li>List of users: GET: users/</li>
                <li>List available flights: GET flights/</li>
                <li>Details of a Flight: GET flights/pk/</li>
                <li>List available seat objetcs: GET seat/</li>
                <li>Details of a seat object: GET seat/pk/</li>
                <li>Make Reservation: POST tickets/reservation/'</li>
                <li>Book ticket: POST tickets/book/</li>
                <li>Make pyment: 'payment/'</li>


                </ul>
            </p>
            </div>

            <div class="col-md-2"></div>
        </div>

    </main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>